.bg-modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1000;
}

.table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 15px;
}

.table-title > h2 {
    margin: 10px;
}

.modal-content {
    width: 40%;
    height: 40%;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    position: relative;
}

input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: FreeSans, sans-serif;
    table-layout: fixed;
}

tbody {
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

table td {padding: 12px 16px;}
table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb;}
table tr {border-bottom: 1px solid #e8e9eb;}
table tbody tr:hover {background: #e8f6ff;}

.btn {
    text-decoration: none;
    min-width: 100px;
    border-radius: 10px;
    background: none;
    border: 1px solid lightgrey;
    padding: 0.5rem 1.5rem;
    cursor: pointer;

    font-family: inherit;
    font-size: 1.1rem;

    display: inline-block;

}

.btn-save {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: white;
}

.btn-save:hover {
    background-color: #449d44;
    border-color: #398439;
}

.btn-add {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: white;
}

.btn-add:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}

.btn:hover {
    box-shadow: 2px 2px fade(black, 24%);
}

.btn:focus {
    outline: none;
}

.ico {
    display: inline-block;
    width: 20px;
    height: 18px;
    top: 0px;
    left: 278px;
    cursor: pointer;
    z-index:220;
}

.ico:hover {
    opacity: 0.5;
}

.ico-close {
    margin: 0 14px;
}

.arrow-up {
    background-image: url('../svg/up-arrow.svg');
    background-repeat: no-repeat;
}

.arrow-down {
    background-image: url('../svg/down-arrow.svg');
    background-repeat: no-repeat;
}

.cross {
    background-image: url('../svg/close.svg');
    background-repeat: no-repeat;
}

.td-action {
    margin: 0;
    padding: 0;
}

td:last-child {
    padding: 0;
}

.ico-remove {
    margin-left: 5px;
}

td.single-line {
    white-space: nowrap;
    overflow: hidden;
}
